<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<div class="container mt-4">
  <h1>Edit Product</h1>

  <form action="/products/update/<%= product._id %>" method="POST">

    <input type="text" name="name" value="<%= product.name %>" required><br>

    <input type="text" name="description" value="<%= product.description %>"><br>

    <input type="text" name="category" value="<%= product.category %>"><br>

    <input type="number" name="price" value="<%= product.price %>" required><br>

    <input type="number" name="stock" value="<%= product.stock %>"><br>

    <input type="text" name="image" value="<%= product.image %>"><br>

    <button type="submit">Update</button>

  </form>
</div>

<%- include('../partials/foot') %>